/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.titulo_seccion{
	margin-left: -5%;
    font-size: 2.6em;
    color: #5fd0ba;
    border-left: #5fd0ba 8px solid;
    padding-left: 1%;
}
p{
    text-align: justify;
}