/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.titulo_seccion{
	margin-left: -5%;
    font-size: 2.6em;
    color: #5fd0ba;
    border-left: #5fd0ba 8px solid;
    padding-left: 1%;
    text-transform: uppercase;
}

p{
    text-align: justify;
}

.prensa_grid{
    background-color: #e8e8e8;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #ccc;
    text-align: center;
    max-height: 890px;
}

.portfolio-desc > span {
    font-size: 13px;
}

.menu-link{
    font-size: 1rem;
}